/* Navbar Css color start */
:root{
  --main-color1: #0A121F ;
  --main-color2: #08101D ;
  --btn-color: #3A68B8 ;
  --applySec-color: #020A18;
  --mukafatlar-color:#111926;
}
/* Navbar css color end */
body{
  overflow-x:hidden;
}
.navbar{
  background-color: var(--main-color1);
}
nav{
  position: sticky !important;
  top: 0px;
  
}

.navbar-toggler{
  color: #fff;
}

.wrapper{
  padding: 8px 40px ;
}

@media(max-width:550px){
  .wrapper {
    padding: 8px 8px;
  }
  .introduction {
    padding-left: 22px !important;
    padding-right: 22px;
    padding-top: 25px !important;
}
    .navbar-brand img{
      width: 200px;
      margin:0 auto;
    }
    .introduction-left-side .intro-h2 {
     
     
      font-size: 25px !important;
      width: 604px;
  }
 
}
@media(max-width:768px){
  .introduction {
    padding-right: 10px;
    padding-top: 50px !important;
}
}

.btn{
  background-color: var(--btn-color);
}
.introduction {
  background-color: var(--main-color2);
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 10px;
}
.intro-right-foto{
 width: 100%;
 z-index: 999;
}
.btn-groups{
  padding-bottom: 40px;
}
.btn-left{
  margin-right: 30px;
}

/* @media(min-width:1400px){
  .wrapper{
    padding-left: 300px !important;
    padding-right: 370px !important;
  }
} */
/* .introduction-left-side{
  padding-top: 60px;
} */
.introduction-left-side h6 {
  text-transform: uppercase;
  font-size:16px;
  color: var(--btn-color);
  font-weight: 600;
  margin-bottom: 10px;
}
.introduction-left-side .intro-h2{
  color: #fff;
  font-weight: 800;
  font-size: 49px;
  width: 604px;
}
.introduction-left-side p{
  font-size: 18px;
  font-weight: 600;
  color: #aaa;
  margin-top: 30px;
  margin-bottom: 50px;
}

.playimg{
  width: 16px;
  align-items: center;
  justify-content: centerw;
}
.ovarley{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  transition: width 1.2s ease;
  overflow-x: hidden;
}
.cross-icon{
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 45px;
  top: 35px;

}
.nav-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 35px;
  margin-bottom: 10px;
  
}
.nav-links a:hover{
  color: #fff;
}
.navbar-open{
  width: 100%;
}

.partnyorshirketler{
  padding: 40px 60px;
  background-color: var(--main-color2);
}
.row{
  --bs-gutter-x: 0rem;
}
.swiper-slide img{
  width: 80%;
}

/* APPLY Section Start */

.apply-section{
  background-color: var(--applySec-color);
  padding: 50px 90px;
}
.apply-right-side{
display: grid;
 justify-content: center;
}
.apply-left-side img{
  width: 100%;
}
@media(max-width:768px){
  .apply-left-side img{
    margin-bottom: 50px;
  }
  .apply-section {
    background-color: var(--applySec-color);
    padding: 50px 30px;
}

}

/* APPLY Section END */

/* mukafatlar START */

.card-img-top{
  display: block;
  margin: 0 auto;
  width: 73px;
  height: 69px;
}

.mukafat-karti{
  background-color: var(--mukafatlar-color);
  padding: 5px;
  margin-bottom:20px;
}
.mukafat-section{
  background-color: var(--applySec-color);
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 50px 30px;
}
/* mukafatlar END */


/* Contact Start */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#0B5ED7;
  color: white ;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3820FF;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
.contact-section{
  padding: 18px 0;
  background-color: var(--main-color2);
}
/* Contact END */
